<div class="app">
    <div class="app-input-group">
        <input
            type="text"
            list="nodes"
            [(ngModel)]="searchText"
            (change)="search(searchText)"
            (blur)="searchTextBlur()"
        />
        <datalist id="nodes">
            <option *ngFor="let n of nodeLabelList" [value]="n">{{ n }}</option>
        </datalist>
        <button *ngIf="isModeChosen" (click)="nextGraph()">Next graph</button>
        <button (click)="loadManual()">Load manual clique selection</button>
        <button (click)="loadAutomatic()">Load automatic lazy trees</button>
    </div>
    <div id="canvas" #canvas></div>
</div>
